<p id="notice"><%= notice %></p>

<h1>Web Event Locations</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @web_event_locations.each do |web_event_location| %>
      <tr>
        <td><%= web_event_location.title %></td>
        <td><%= link_to 'Show', web_event_location %></td>
        <td><%= link_to 'Edit', edit_web_event_location_path(web_event_location) %></td>
        <td><%= link_to 'Destroy', web_event_location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Web Event Location', new_web_event_location_path %>
